body{
    background-color: orange;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
}
.Stopwatch{
    border: 2px solid black;
    margin: auto;
    height: 400px;
    width: 700px; 
    box-shadow:  2px 4px 4px black;           
}
.btn{
    font-size: 20px;
    margin: 10px;
    padding:10px 50px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: 1s;
}
p{
    font-size: 2rem;
}

.btn:hover{
    background-color: white;
    color: orange;
    box-shadow: 5px 5px black;
}
